<!-- ===NAVBAR=== -->
  <nav class="navbar navbar-expand-lg py-4 navbar-dark position-fixed top-0">
    <div class="container">
      <a class="navbar-brand" href="/">LOGO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
          <li class="nav-item me-5">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="#">Work</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="#">About Me</a>
          </li>
        </ul>
        <div class="text-lg-end">
          <a href="/login" class="btn btn-outline-light me-2"> Login </a>
          <a href="#" class="btn btn-warning">Sign-up</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- ===END NAVBAR=== -->

  <!-- ===LOGIN=== -->
  <section class="
        requirement
        d-flex
        bg-dark
        flex-column
        min-vh-100
        justify-content-center
      ">

    <div class="container">
      <div class="col-lg-4 col-md-12 col-sm-12 mb-md-3 mb-sm-3">
        <h1 class="text-start text-white display-1">LOGIN YUK!</h1>
      </div>

      <form action="/login" method="post">
        <div class="row">
          <div class="col-4">
            <div class="mb-3 row">
              <label for="inputUsername" class="form-label text-light">Username</label>
              <div class="col-sm-10">
                <input type="text" name="username" class="form-control text-light bg-dark border-dark" id="inputUsername" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputPassword" class="form-label text-light">Password</label>
              <div class="col-sm-10">
                <input type="password" name="password" class="form-control text-light bg-dark border-dark" id="inputPassword" required>
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-warning">Login</button>
              </div>
            </div>
          </div>
        </div>
      </form>
  </section>
  <!-- ===END LOGIN=== -->