<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
  </head>

  <body>
    <div class="container d-flex vh-100">
      <div class="justify-content-center align-self-center"><%- body %></div>
    </div>

    <script src="./assets/js/bootstrap.min.js"></script>
  </body>
</html>
