<div class="games">
      <div class="container pt-5">
        <div class="d-flex align-content-center">
          <a href="/" class="btn btn-sm">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="40"
              height="40"
              viewBox="0 0 172 172"
              style="fill: #724c21"
            >
              <g
                fill="none"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
              >
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#724c21">
                  <path
                    d="M114.55469,22.87734c-1.48951,0.04438 -2.90324,0.6669 -3.94167,1.73568l-57.33333,57.33333c-2.23811,2.23904 -2.23811,5.86825 0,8.10729l57.33333,57.33333c1.43802,1.49778 3.5734,2.10113 5.5826,1.57735c2.0092,-0.52378 3.57826,-2.09284 4.10204,-4.10204c0.52378,-2.0092 -0.07957,-4.14458 -1.57735,-5.5826l-53.27969,-53.27969l53.27969,-53.27969c1.69569,-1.64828 2.20555,-4.16851 1.28389,-6.3463c-0.92166,-2.17779 -3.08576,-3.56638 -5.44951,-3.49667z"
                  ></path>
                </g>
              </g>
            </svg>
          </a>
          <img src="./assets/img/games_logo.png" width="50" height="50" />
          <p class="ms-3 header-text display-6 fw-bold">ROCK PAPER SCISSORS</p>
        </div>

        <div class="row mt-5">
          <div class="col-5 d-flex flex-column align-items-center">
            <p class="lead fw-bold">PLAYER 1</p>
            <img
              id="batu"
              class="player p-3 m-2"
              src="./assets/img/batu.png"
              width="120"
              alt=""
            />
            <img
              id="kertas"
              class="player p-3 m-3"
              src="./assets/img/kertas.png"
              width="120"
              alt=""
            />
            <img
              id="gunting"
              class="player p-3 m-3"
              src="./assets/img/gunting.png"
              width="120"
              alt=""
            />
          </div>
          <div
            class="
              col-2
              d-flex
              flex-column
              align-items-center
              justify-content-center
            "
          >
            <div id="result">
              <p class="display-1 p-3 text-danger text-center fw-bold">VS</p>
            </div>
          </div>
          <div class="col-5 d-flex flex-column align-items-center">
            <p class="lead fw-bold">COM</p>
            <img
              id="batu"
              class="com p-3 m-2"
              src="./assets/img/batu.png"
              width="120"
              alt=""
            />
            <img
              id="kertas"
              class="com kertas p-3 m-3"
              src="./assets/img/kertas.png"
              width="120"
              alt=""
            />
            <img
              id="gunting"
              class="com gunting p-3 m-3"
              src="./assets/img/gunting.png"
              width="120"
              alt=""
            />
          </div>
        </div>

        <div class="d-flex container-fluid justify-content-center">
          <img id="refresh" src="./assets/img/refresh.png" alt="" width="50" />
        </div>
      </div>
    </div>
