    <!-- ===NAVBAR=== -->
    <nav class="navbar navbar-expand-lg py-4 navbar-dark position-fixed top-0">
      <div class="container">
        <a class="navbar-brand" href="/">LOGO</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
            <li class="nav-item me-5">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link" href="#">Work</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link" href="#">About Me</a>
            </li>
          </ul>
          <div class="text-lg-end">
            <a href="/login" class="btn btn-outline-light me-2"> Login </a>
            <a href="#" class="btn btn-warning">Sign-up</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- ===END NAVBAR=== -->

    <!-- ===COVER=== -->
    <section
      class="
        cover
        d-flex
        bg-dark
        flex-column
        min-vh-100
        justify-content-center
        align-items-center
      "
    >
      <h1 class="mb-4 text-uppercase text-white display-1">
        play traditional game
      </h1>
      <p class="mb-5 text-white lead">Experience new traditional game play</p>
      <a href="/games" class="btn btn-warning px-5 py-2 fw-bold text-uppercase">
        play now
      </a>
      <div class="position-absolute bottom-0 mb-5">
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <p class="text-uppercase text-white sub-text">the story</p>
          <img src="./assets/img/scroll_down.svg" alt="" />
        </div>
      </div>
    </section>
    <!-- ===END COVER=== -->

    <!-- ===GALLERY=== -->
    <section
      class="
        gallery
        d-flex
        bg-dark
        flex-column
        min-vh-100
        justify-content-center
        align-items-center
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 mb-md-3 mb-sm-3">
            <p class="text-start text-white lead">What’s so special?</p>
            <h1 class="text-start text-white display-1">THE GAMES</h1>
          </div>
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="./assets/img/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="./assets/img/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="./assets/img/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ===END GALLERY=== -->

    <!-- ===FEATURES=== -->
    <section
      class="
        features
        d-flex
        bg-dark
        flex-column
        min-vh-100
        justify-content-center
        align-items-center
      "
    >
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-lg-6 col-sm-12">
            <p class="mt-5 text-start text-white lead">What’s so special?</p>
            <h1 class="text-start text-uppercase text-white display-1">
              features
            </h1>
            <ul class="timeline mt-5 text-start">
              <li class="active">
                <p class="text-uppercase text-primary lead">Traditional game</p>
                <p class="text-white">
                  If you miss your childhood, we provide many traditional games
                  here.
                </p>
              </li>
              <li class="inactive">
                <p class="text-uppercase text-primary lead">game suit</p>
              </li>
              <li class="inactive">
                <p class="text-uppercase text-primary lead">tbd</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- ===END FEATURES=== -->

    <!-- ===REQUIREMENT=== -->
    <section
      class="
        requirement
        d-flex
        bg-dark
        flex-column
        min-vh-100
        justify-content-center
        align-items-center
      "
    >
      <div class="container">
        <div class="d-flex justify-content-center">
          <p class="sub-text mb-5 text-white">Can My Computer Run this game?</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-12 text-start">
            <h1 class="lh-0 display-1 text-white">system requirements</h1>
            <table style="border-collapse: collapse">
              <tr>
                <td class="px-3 py-3">
                  <p class="text-uppercase lh-1 text-primary">OS:</p>
                  <p class="sub-text lh-1 text-white">
                    Windows 7 64-bit only (No OSX support at this time)
                  </p>
                </td>
                <td class="px-3 py-3">
                  <p class="text-uppercase lh-1 text-primary">PROCESSOR:</p>
                  <p class="sub-text lh-1 text-white">
                    Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                  </p>
                </td>
              </tr>
              <tr>
                <td class="px-3 py-3">
                  <p class="text-uppercase lh-1 text-primary">MEMORY:</p>
                  <p class="sub-text lh-1 text-white">4 GB RAM</p>
                </td>
                <td class="px-3 py-3">
                  <p class="text-uppercase lh-1 text-primary">storage:</p>
                  <p class="sub-text lh-1 text-white">8 GB available space</p>
                </td>
              </tr>
              <tr>
                <td class="px-3 py-3" colspan="2">
                  <p class="text-uppercase lh-1 text-primary">GRAPHICS:</p>
                  <p class="sub-text lh-1 text-white">
                    NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB
                    DirectX11 (Shader Model 5)
                  </p>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- ===END REQUIREMENT=== -->

    <!-- ===TOP SCORE=== -->
    <section
      class="
        top-score
        d-flex
        bg-dark
        flex-column
        min-vh-100
        justify-content-center
        align-items-center
      "
    >
      <div class="container">
        <div class="row">
          <div
            class="
              col-lg-4 col-md-12 col-sm-12
              mb-5
              d-flex
              flex-column
              justify-content-center
            "
          >
            <h1 class="display-1 text-white">TOP SCORES</h1>
            <p class="mb-5 lead text-white">
              This top score from various games provided on this platform.
            </p>
            <div class="d-flex">
              <button class="btn btn-warning px-5 py-2 fw-bold text-uppercase">
                SEE MORE
              </button>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="d-flex align-items-end flex-column bd-highlight mb-3">
              <div
                class="
                  card
                  col-lg-6 col-md-12 col-sm-12
                  px-3
                  py-3
                  bg-dark
                  float-end
                "
              >
                <div class="d-flex justify-content-between py-2">
                  <div class="d-flex">
                    <div class="bg-image me-3">
                      <img
                        src="./assets/img/profile_1.jpeg"
                        width="65"
                        height="65"
                        class="rounded-circle image-custom"
                      />
                    </div>
                    <div class="d-flex flex-column">
                      <p class="text-start lh-1 lead text-primary fw-bold">
                        Evan Lathi
                      </p>
                      <p class="text-start lh-1 text-secondary">PC Gamer</p>
                    </div>
                  </div>
                  <div class="col-auto">
                    <img src="./assets/img/twitter.svg" alt="" />
                  </div>
                </div>
                <div class="row py-2">
                  <p class="text-white">
                    “One of my gaming highlights of the year.”
                  </p>
                </div>
                <div class="row">
                  <p class="text-secondary sub-text">June 18, 2021</p>
                </div>
              </div>
            </div>
            <div
              class="d-flex align-items-center flex-column bd-highlight mb-3"
            >
              <div class="card col-lg-6 col-md-12 col-sm-12 px-3 py-3 bg-dark">
                <div class="d-flex justify-content-between py-2">
                  <div class="d-flex">
                    <div class="bg-image me-3">
                      <img
                        src="./assets/img/profile_2.jpeg"
                        width="65"
                        height="65"
                        class="rounded-circle image-custom"
                      />
                    </div>
                    <div class="d-flex flex-column">
                      <p class="text-start lh-1 lead text-primary fw-bold">
                        Jada Griffin
                      </p>
                      <p class="text-start lh-1 text-secondary">Nerdreactor</p>
                    </div>
                  </div>
                  <div class="col-auto">
                    <img src="./assets/img/twitter.svg" alt="" />
                  </div>
                </div>
                <div class="row py-2">
                  <p class="text-white">
                    “The next big thing in the world of streaming and survival
                    games.”
                  </p>
                </div>
                <div class="row">
                  <p class="text-secondary sub-text">July 10, 2021</p>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-end flex-column bd-highlight mb-3">
              <div class="card col-lg-6 col-md-12 col-sm-12 px-3 py-3 bg-dark">
                <div class="d-flex justify-content-between py-2">
                  <div class="d-flex">
                    <div class="bg-image me-3">
                      <img
                        src="./assets/img/profile_3.jpeg"
                        width="65"
                        height="65"
                        class="rounded-circle image-custom"
                      />
                    </div>
                    <div class="d-flex flex-column">
                      <p class="text-start lh-1 lead text-primary fw-bold">
                        Aaron Williams
                      </p>
                      <p class="text-start lh-1 text-secondary">Uproxx</p>
                    </div>
                  </div>
                  <div class="col-auto">
                    <img src="./assets/img/twitter.svg" alt="" />
                  </div>
                </div>
                <div class="row py-2">
                  <p class="text-white">
                    “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is
                    Ridiculous.”
                  </p>
                </div>
                <div class="row">
                  <p class="text-secondary sub-text">December 24, 2018</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ===END TOP SCORE=== -->

    <!-- ===NEWSLETTER=== -->
    <section
      class="
        newsletter
        d-flex
        flex-column
        min-vh-100
        justify-content-center
        align-items-center
      "
    >
      <div class="container row my-5">
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div
            class="container d-flex justify-content-center"
            style="position: relative"
          >
            <img class="w-75" src="./assets/img/newsletter.png" alt="" />
            <div class="features-image-overlay w-75"></div>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12 col-md-12">
          <div class="container">
            <p class="lead text-white">Want to stay in touch?</p>
            <h1 class="display-1 text-white text-uppercase lh-1">newsletter</h1>
            <h1 class="display-1 text-white text-uppercase lh-1">SUBSCRIBE</h1>
            <p class="text-white">
              In order to start receiving our news, all you have to do is enter
              your email address. Everything else will be taken care of by us.
              We will send you emails containing information about game. We
              don’t spam.
            </p>
            <div class="row mt-5">
              <div
                class="col-lg-8 col-sm-12 col-md-12 d-flex align-self-center"
              >
                <div class="form-control bg-dark border-dark">
                  <label for="email" class="form-label text-white"
                    >Your email address</label
                  >
                  <input
                    type="email"
                    class="form-control bg-dark border-warning text-warning"
                    id="email"
                    placeholder="youremail@binar.co.id"
                  />
                </div>
              </div>
              <div
                class="
                  col-lg-4 col-sm-12 col-md-12
                  mt-lg-0 mt-3
                  d-flex
                  align-self-lg-center
                  justify-content-lg-center
                "
              >
                <button
                  class="
                    btn btn-warning
                    px-lg-5
                    py-lg-4 py-2
                    px-3
                    fw-bold
                    text-uppercase
                  "
                >
                  Subscribe now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ===END NEWSLETTER=== -->

    <!-- ===FOOTER=== -->
    <footer class="pt-5">
      <div class="container d-flex justify-content-lg-end">
        <div
          class="
            d-flex
            flex-wrap
            align-items-center
            justify-content-center justify-content-lg-start
          "
        >
          <ul
            class="
              nav
              col-12 col-lg-auto
              me-lg-auto
              mb-2
              justify-content-center
              mb-md-0
            "
          >
            <li><a href="#" class="nav-link px-4 text-white">main</a></li>
            <li><a href="#" class="nav-link px-4 text-white">about</a></li>
            <li>
              <a href="#" class="nav-link px-4 text-white">game features</a>
            </li>
            <li>
              <a href="#" class="nav-link px-4 text-white"
                >system requirement</a
              >
            </li>
            <li><a href="#" class="nav-link px-4 text-white">quotes</a></li>
          </ul>
          <ul
            class="
              nav
              col-12 col-lg-auto
              me-lg-auto
              mb-2
              justify-content-center
              mb-md-0
            "
          >
            <li>
              <a href="#" class="nav-link px-4 text-white"
                ><img src="./assets/img/facebook.svg" alt=""
              /></a>
            </li>
            <li>
              <a href="#" class="nav-link px-4 text-white"
                ><img src="./assets/img/twitter.svg" alt=""
              /></a>
            </li>
            <li>
              <a href="#" class="nav-link px-4 text-white"
                ><img src="./assets/img/Vector.svg" alt=""
              /></a>
            </li>
            <li>
              <a href="#" class="nav-link px-4 text-white"
                ><img src="./assets/img/twitch.svg" alt=""
              /></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="container">
        <hr class="bg-light border-2 border-top" />

        <div
          class="
            d-flex
            flex-lg-row flex-column-reverse
            justify-content-lg-between justify-content-center
          "
        >
          <p class="d-flex mt-3">© 2018 Your Games, Inc. All Rights Reserved</p>
          <div class="d-flex">
            <a href="#" class="nav-link text-white text-uppercase"
              >privacy policy</a
            >
            <p class="text-white d-lg-block d-none">|</p>
            <a href="#" class="nav-link text-white text-uppercase"
              >terms of services</a
            >
            <p class="text-white d-lg-block d-none">|</p>
            <a href="#" class="nav-link text-white text-uppercase"
              >code of conduct</a
            >
          </div>
        </div>
      </div>
    </footer>
    <!-- ===END FOOTER=== -->
