<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">

  <h2><%= title %></h2>

  <form class="mt-5" onsubmit="return sendForm()">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" name="name">
    </div>
    <div class="mb-3">
      <label class="form-label">Email address</label>
      <input type="email" class="form-control" name="email">
    </div>
    <div class="mb-3">
      <label class="form-label">Born Date</label>
      <input type="date" class="form-control" name="bornDate">
    </div>
    <button type="submit" class="btn btn-primary">Create User</button>
  </form>



</main>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    function sendForm() {
        
        const username = document.getElementsByName("username")[0].value;
        const password = document.getElementsByName("password")[0].value;
        const name = document.getElementsByName("name")[0].value;
        const email = document.getElementsByName("email")[0].value;
        const bornDate = document.getElementsByName("bornDate")[0].value;

        if (username == '' || password == '' || name == '' || email == '' || bornDate == '') {
          alert('Isi data dulu');
        } else {
          axios.post('/api/v1/users', {
            username: username,
            password: password,
            name: name,
            email: email,
            bornDate: bornDate,
          })
          .then(function (response) {
              console.log(response);
          })
          .catch(function (error) {
              console.log(error);
          });
        }
    }

</script>