<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">

  <h2><%= title %> - <%= data.username %> </h2>

  <form class="mt-5" onsubmit="return sendForm()">
    <input type="hidden" name="id" value="<%= data.id %>">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" name="name" value="<%= data.BiodataUser.name %>">
    </div>
    <div class="mb-3">
      <label class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" value="<%= data.BiodataUser.email %>">
    </div>
    <div class="mb-3">
      <label class="form-label">Born Date</label>
      <input type="date" class="form-control" name="bornDate" value="<%= data.BiodataUser.bornDate %>">
    </div>
    <button type="submit" class="btn btn-primary">Update User</button>
  </form>

</main>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    function sendForm() {
        
        const id = document.getElementsByName("id")[0].value;
        const name = document.getElementsByName("name")[0].value;
        const email = document.getElementsByName("email")[0].value;
        const bornDate = document.getElementsByName("bornDate")[0].value;

        axios.put('/api/v1/users', {
            id: id,
            name: name,
            email: email,
            bornDate: bornDate,
        })
        .then(function (response) {
            console.log(response);
        })
        .catch(function (error) {
            console.log(error);
        });
    }

    const params = new URLSearchParams(window.location.search)

    if (params.has('name')) {
        Swal.fire(
            'Berhasil',
            'Data telah di update!',
            'success'
        );
    }

</script>