<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">
  <div class="row">
    <div class="col">
      <h2><%= title %></h2>
    </div>
    <div class="col">
      <a href="/users-create" class="btn btn-primary float-end">
        Create Data
      </a>
    </div>
  </div>

  <% if (data.length < 1) { %>
    
      <h4>Data Kosong</h4>

  <% } else { %>

  <div class="table-responsive mt-3">
    <table class="table table-striped table-lg">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        
        <% data.forEach((dt, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= dt.username %></td>
            <td><%= dt.BiodataUser.name %></td>
            <td>
              <a
                href="/users-edit?id=<%= dt.id %> "
                id="btnEdit"
                class="btn btn-sm btn-warning"
                >Edit</a
              >
              <a class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                data-toggle="modal" onclick="confirmDelete('<%= dt.id %>', '<%= dt.username %> ')"
                >Delete</a>
            </td>
          </tr>
        <% }) 
      } %>
      </tbody>
    </table>
  </div>
</main>
 
<%- include("delete") %> 