<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/users">
          <span data-feather="users"></span>
          Users
        </a>
      </li>
    </ul>
  </div>
</nav>